body {
  width: 250px;
}
button {
    background-color: #0040ff;
    border: 1px solid blue;
    color: white;
    padding: 5px 12px;
    cursor: pointer;
    display: block;
    width: 100%;
}

button:not(:last-child) {
    border-bottom: none;
}

button:hover {
  background-color: #0033cc;
}
.working{
  background: #00e673;
  cursor: pointer;
}
.error{
  background: red;
  cursor: help;
}
