body {
  width: 250px;
}
button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 5px 12px;
    cursor: pointer;
    display: block;
    width: 100%;
}

button:not(:last-child) {
    border-bottom: none;
}

button:hover {
  background-color: #e6e6e6;
}
.working{
  background: #99ff99;
  cursor: pointer;
}
.error{
  background: #ff8566;
  cursor: help;
}
