.torpedoTooltip{
  border: solid 2.5px #bfb9b9;
  border-radius: 5px;
  background-color: white;
  min-width: 350px;
  font-size: 13px !important;
  font-family: Helvetica !important;
  line-height: 100% !important;
}
#torpedoURL{
  color: black !important;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0px 0 10px 0 !important;
}
#torpedoSecurityStatus{
  margin-top: 5px;
}
.torpedoTooltip p{
  overflow: hidden !important;
  color: black !important;
}
.torpedoTooltip img{
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.torpedoBlock{
  margin-bottom: 5px;
}
.torpedoPopup{
  max-width: none !important;
  background-color: white;
  border-color: black;
}
.torpedoTrusted{
  border-color: green !important;
}
.torpedoUserDefined{
  border-color: #1a509d !important;
}
.torpedoPhish{
  border-color: red !important;
  background-color: #feffcc !important;
}

#torpedoDomain{
  color:#0033cc  !important;
  letter-spacing: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
#torpedoInfoText:hover{
  text-decoration: underline;
}
#torpedoMoreInfo, #torpedoLinkDelay{
  clear: both;
}
#torpedoPopupImage{
  width: 600px;
  height: 380px;
}
